@import "tailwindcss";

/* Custom Scrollbar for sleek look */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #52525b;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #71717a;
}
